html {
  font-size: 16px;
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Crimson Text', serif;
}

p, h2, h3, table {
  width: 50vw;
  min-width: 600px;
  margin: 0 auto 1em auto;
  line-height: 145%;
}

p.right {
  text-align: right;
}

p.ind {
  text-indent: 30px;
}

p.resc {
  line-height: 100%
}

h2 {
  font-family: 'Cinzel', serif;
  font-size: 32px;
  font-weight: normal;
  margin: 1em auto 1em auto;
}

h3 {
  font-size: 18px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

a.contents {
  font-weight: normal;
}

#anchor{
  position: relative;
  padding-top: 100px;
}

div.page {
  margin: 0 0 50vh 0;
}

div.logo {
  height: 100vh;
  width: 100vw;
  min-height: 12em;
  display: table-cell;
  vertical-align: middle;
}

img.center {
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 70vw;
  max-height: 30vh;
}

td {
  font-family: 'Cinzel', serif;
  text-align: left;
  /*font-size: 26px;*/
  font-size: 3vmin;
  /*font-weight: bold;*/
  line-height: 200%;
  letter-spacing: 8px;
}

table {
  margin: auto auto auto 50vw;
}
