html, body{
    margin: 0;
    bottom: 0;
    /* max-width: 100%; */
    /* width: 100%; */
}

html {
  font-size: 16px;
  font-family: 'Crimson Text', serif;
}

ul, p, h2, h3, table {
  margin: 0 auto 1em auto;
  line-height: 145%;
}

p.right {
  text-align: right;
}

p.ind {
  text-indent: 30px;
}

p.resc {
  line-height: 100%
}

h2 {
  font-family: 'Cinzel', serif;
  font-size: 32px;
  font-weight: normal;
  margin: 1em auto 1em auto;
}

h3 {
  font-size: 18px;
}

a {
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px dotted #888;
  color: black;
}

a.contents {
  font-weight: normal;
}

#anchor{
  position: relative;
  padding-top: 100px;
}

div.page {
  margin: 0 0 50vh 0;
}

@media screen and (max-width: 425px) {
    .nav-item {
        font-size: 7vmin;
    }
    nav {
        flex-basis: 100%;
    }
    nav, section{
        margin: 2rem;
    }
}

@media screen and (min-width: 426px) {
    ul, p, h2, h3, table {
        width: 50vw;
    }
    ul, p, h2, h3{
        min-width: 600px;
    }
    .nav-item {
        font-size: 3vmin;
    }
    nav {
        flex-basis: 50%;
    }
}

.nav-item {
    font-family: 'Cinzel', serif;
    text-align: left;
    line-height: 200%;
    letter-spacing: 8px;
}

div.logo::after{
    height: 0;
    width: 0;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    margin-left: -1em;
    box-sizing: content-box;
    /* right: 50%; */
    border-top: 1em #ddd solid;
    border-bottom: 1em transparent solid;
    border-left: 1em transparent solid;
    border-right: 1em transparent solid;
    content: "";
}

div.logo {
    height: 100vh;
    min-height: 12em;
    position: relative;
    /* border: 1px #f00 solid; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

img.center {
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 70vw;
  max-height: 30
}
